---
// Astro Props
interface Props {
  action: string;
  iconName: string;
  labelKey: string;
  shortcut?: string;
  requiresSelection?: boolean;
}

const { action, iconName, labelKey, shortcut, requiresSelection = false } = Astro.props;

// Icons
import Icon from "../../../components/icons/Icon.astro";
---

<div class="context-menu__item group context-menu__item:hover py-[8px]! px-[12px]! cursor-pointer flex! justify-start items-center hover:bg-(--tn-neutral-tertiary-color)/20 hover:text-(--tn-theme-contrast) text-md" data-action={action} data-requires-selection={requiresSelection ? "true" : undefined}>
  <Icon name={iconName} className="size-1 text-(--tn-theme-contrast) mr-1!" />

  {
    shortcut ? (
      <div class="flex justify-between items-center w-full">
        <span class="font-semibold text-(--tn-neutral-tertiary-color) text-shadow-lg! text-shadow-white" data-i18n={labelKey}></span>
        <span class="font-black shortcut group-hover:text-(--tn-theme-primary) group-hover:opacity-80 transition-opacity ml-[auto]! text-(--tn-theme-contrast) opacity-[0.6] py-[2px] px-[4px] text-xs!">{shortcut}</span>
      </div>
    ) : (
      <span class="font-semibold text-(--tn-neutral-tertiary-color) text-shadow-lg! text-shadow-white" data-i18n={labelKey}></span>
    )
  }
</div>
