---
// Styles
import "./contextual-menu.scss";

// Components
import ContextMenuItem from "./components/ContextMenuItem.astro";
import ContextMenuSeparator from "./components/ContextMenuSeparator.astro";

const editItems = [
  { action: "copy", iconName: "copy", label: "Copiar", shortcut: "Ctrl + C", requiresSelection: true },
  { action: "cut", iconName: "cut", label: "Cortar", shortcut: "Ctrl + X", requiresSelection: true },
  { action: "paste", iconName: "paste", label: "Pegar", shortcut: "Ctrl + V" },
];

const formatItems = [
  { action: "bold", iconName: "bold", label: "Negrita", shortcut: "Ctrl + B", requiresSelection: true },
  { action: "italic", iconName: "italic", label: "Italica", shortcut: "Ctrl + I", requiresSelection: true },
  { action: "underline", iconName: "underline", label: "Subrayado", shortcut: "Ctrl + U", requiresSelection: true },
];

const historyItems = [
  { action: "undo", iconName: "undo", label: "Deshacer", shortcut: "Ctrl + Z" },
  { action: "redo", iconName: "redo", label: "Rehacer", shortcut: "Ctrl + Y" },
];

const tabItems = [{ action: "pin-tab", iconName: "pin", label: "Fijar" }];
---

<div id="context-menu" class="context-menu hidden fixed bg-(--tn-theme-primary) border border-(--tn-theme-contrast) rounded-lg shadow-2xl z-50 min-w-[200px] w-auto">
  {/* Edition */}
  {editItems.map((item) => <ContextMenuItem action={item.action} iconName={item.iconName} label={item.label} shortcut={item.shortcut} requiresSelection={item.requiresSelection} />)}

  <ContextMenuSeparator variant="thin" />

  {/* Format */}
  {formatItems.map((item) => <ContextMenuItem action={item.action} iconName={item.iconName} label={item.label} shortcut={item.shortcut} requiresSelection={item.requiresSelection} />)}

  <ContextMenuSeparator variant="thin" />

  {/* History */}
  {historyItems.map((item) => <ContextMenuItem action={item.action} iconName={item.iconName} label={item.label} shortcut={item.shortcut} />)}

  <ContextMenuSeparator variant="thin" />

  {/* Tabs */}
  {tabItems.map((item) => <ContextMenuItem action={item.action} iconName={item.iconName} label={item.label} />)}
</div>
